.msg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    padding: 10px;
}

.nsg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1000px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bgm :hover{
    box-shadow: 0 4px 8px 0 rgba(42, 184, 227, 0.789), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}